body {
    color: #000000;
    background: #f5f5f5;
}

.view-slide {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    display: block;
}

.view-slide.ng-enter,
.view-slide.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.view-slide.ng-enter {
    left: 100%;
}
.view-slide.ng-enter-active {
    left: 0;
}
.view-slide.ng-leave {
    left: 0;
}
.view-slide.ng-leave-active {
    left: -100%;
}
